<html>
    <head>
        <title>GardenX - Friends</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                $(".toast").toast('show');
            });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" style="margin-right:3%;" href="/root"><img src="../static/images/logo.png"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item ps-3">
                            <a class="nav-link" href="#">My Feed</a>
                        </li>
                        <li class="nav-item ps-3">
                            <a class="nav-link active" href="/root/friends">Friends</a>
                        </li>
                        <li class="nav-item dropdown ps-3">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                                Profile
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/root/myGarden">My Garden</a></li>
                                <li><a class="dropdown-item" href="/root/uploadPicture">Upload a Picture</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" style="margin-right:1%;" action="/root/search">
                        <input class="form-control me-2" type="search" name="search" placeholder="Search">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>

        <% if(locals.notifs){ %>
            <div style="position: relative; min-height: 200px; float:right; width:40%;"><div style="position: absolute; top: 0; right: 0;">
            <%locals.notifs.forEach(function(notif){%>
                <div class="toast" data-bs-autohide="false">
                    <div class="toast-header">
                        <%if(notif.image!=null){%><img src="<%=notif.img%>" class="rounded mr-2"><%}%>
                        <strong class="me-auto"><%=notif.title%></strong>
                        <small class="text-muted"><%=notif.date%></small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast">
                        <span></span>
                        </button>
                    </div>
                    <div class="toast-body">
                        <%-notif.msg%>
                    </div>
                </div>
            <%})%>
            </div></div>
        <%}%>

        <div class="d-flex align-items-start" style="margin-top:5rem;">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist">
                <a class="nav-link active" id="v-pills-friends-tab" data-bs-toggle="pill" href="#v-pills-friends" role="tab">Friends</a>
                <a class="nav-link" id="v-pills-inc-tab" data-bs-toggle="pill" href="#v-pills-inc" role="tab">Incoming Requests <%if(locals.requests && locals.requests.length >0){%><span class="badge bg-light text-dark"><%=requests.length%></span><%}%></a>
                <a class="nav-link" id="v-pills-out-tab" data-bs-toggle="pill" href="#v-pills-out" role="tab">Outgoing Requests <%if(locals.requests && locals.outReqs.length >0){%><span class="badge bg-light text-dark"><%=outReqs.length%></span><%}%></a>
            </div>

            <div class="tab-content">
                <div class="tab-pane show active" id="v-pills-friends" role="tabpanel">
                    <% if(locals.friends){ %>
                        <%if(friends.length == 0){%><h2>No friends</h2>
                        <%}else{%>
                            <h2>Your Friends</h2>
                            <div class="card-deck d-flex flex-wrap" style="margin-right:10%;">
                            <%locals.friends.forEach(function(friend){%>
                                <div class="card mx-auto" style="margin-right: 1.5rem; text-align:center">
                                    <div class="card-body">
                                        <h5 class="card-title" style="margin-bottom:7%;"><%=friend.username %></h5>
                                        <p class="card-text"><%=friend.stats[0]%> plants, <%= friend.stats[1] %> likes</p>
                                        <div style="width:100%;">
                                            <a href="/root/user/<%=friend.username %>" class="card-link">View Profile</a>
                                            <a class="btn btn-danger" style="display: inline-block; margin-left:2%;margin-top:10%;font-size:75%;" href="/root/friend/<%=friend.username%>">Unfriend</a>
                                        </div>
                                    </div>
                                </div>
                            <%})%>
                            </div>
                        <%}%>
                    <%}%>
                </div>
                <div class="tab-pane" id="v-pills-inc" role="tabpanel">
                    <% if(locals.requests){ %>
                        <%if(requests.length==0){%><h2>No incoming requests</h2>
                        <%}else{%>
                            <h2>Incoming Friend Requests</h2>
                            <div class="card-deck" style="margin-left:10%;margin-right:10%;">
                            <%locals.requests.forEach(function(request){%>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">Incoming Request</h5>
                                    <p class="card-text"><%= request.user%> is requesting to be friends with you.</p>
                                    <a href="/root/accept/<%= request.user%>" class="btn btn-success">Accept</a>
                                    <a href="/root/deny/<%= request.user%>" class="btn btn-danger">Deny</a>
                                    </div>
                                </div>
                            <%})%>
                            </div>
                        <%}%>
                    <%}%>
                </div>

                <div class="tab-pane" id="v-pills-out" role="tabpanel">
                    <% if(locals.outReqs){ %>
                        <%if(outReqs.length==0){%><h2>No outgoing requests</h2>
                        <%}else{%>
                            <h2>Outgoing Friend Requests</h2>
                            <div class="card-deck" style="margin-left:10%;margin-right:10%;">
                            <%locals.outReqs.forEach(function(request){%>
                                <div class="card" style="width: 18rem;">
                                    <div class="card-body">
                                    <h5 class="card-title">Request to <%= request.username%></h5>
                                    <p class="card-text"><%=request.stats[0]%> plants, <%= request.stats[1] %> likes</p>
                                    <a href="/root/friend/<%= request.user%>" class="btn btn-outline-danger">Cancel Request</a>
                                    </div>
                                </div>
                            <%})%>
                            </div>
                        <%}%>
                    <%}%>
                </div>
        </div>

    </body>
</html>